# Data Exploration

In this notebook describe your data exploration steps.

## Install dependencies

## Load data

In [13]:
import pandas as pd
from sqlalchemy import create_engine

# Create a connection to the SQLite database using SQLAlchemy
engine = create_engine('sqlite:///data.sqlite')

df_matrix = pd.read_sql_table('trip_count_matrix_country_by_age_activity', con=engine)

### Look at the first rows

In [14]:
df_matrix.head(10)

   start_county  end_county  age_group  activity_dest  trip_cnt
0          5374        7143          4              4        65
1          9182        9190          4              4        35
2          9679        9571          3              4        43
3         10044        7235          2              2        55
4         10045        8216          4              6         1
5          8416        8316          4              4        25
6          7337        7337          5              6        20
7         16062       16062          5              5      2535
8         12060       12072          2              3        36
9          8221        8225          2              7       269

### Data exploration
Print some basic information about the data. Your data exploration would continue here.

In [19]:
df_matrix.info()

df_matrix['start_county'].nunique()

df_matrix['end_county'].nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305995 entries, 0 to 305994
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   start_county   305995 non-null  int64
 1   end_county     305995 non-null  int64
 2   age_group      305995 non-null  int64
 3   activity_dest  305995 non-null  int64
 4   trip_cnt       305995 non-null  int64
dtypes: int64(5)
memory usage: 11.7 MB

400